/* ---------------------- theme site ------------------------- */
a {
    color: #302e31;
}

a:hover, a:focus {
    color: #020d31;
}

#side-menu .nav-header a {
    color: #fff;
}

#side-menu .nav-header a:hover {
    color: #f8f8f8;
}

body.mini-navbar #side-menu .nav-header {
    background-color: #1c3d61;
}

.navbar-default #side-menu.nav > li > a:hover,
.navbar-default #side-menu.nav > li > a:focus,
.navbar-default #side-menu .nav-second-level.nav > li > a:hover,
.navbar-default #side-menu .nav-second-level.nav > li > a:focus {
    color: #F8F7C2;
}

#side-menu.nav > li.active > a,
#side-menu .nav-second-level.nav > li.active > a {
    color: #fff;
}

#side-menu.nav > li.active,
#side-menu .nav-second-level.nav > li.active {
    border-left-color: #fff;
}

#side-menu.nav > li.active:hover,
#side-menu.nav > li.active:focus,
#side-menu .nav-second-level.nav > li.active:hover,
#side-menu .nav-second-level.nav > li.active:focus {
    border-color: #F8F7C2;
}

/* ---------------------- buttons ------------------------- */
.btn-default,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default[disabled]:focus {
    color: #333;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-default:hover,
.btn-default[disabled]:hover {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-success,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success[disabled]:focus {
    background-color: #132a44;
    border-color: #132a44;
}

.btn-success:hover,
.btn-success[disabled]:hover {
    background-color: #1c3d61;
    border-color: #1c3d61;
}

.btn-google {
    color: #fff;
    background-color: #df4f3f;
}

.btn-google:hover {
    color: #fff;
    background-color: #df3f23;
}

/* ----------------------- pace ------------------------ */
.pace .pace-progress {
    background-color: #1c3d61;
}

/* -----------------------  ------------------------ */

/* ----------------------- Checkbox switcher ----------------------- */
.switcher:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    background: #cdd1da;
}

.switcher:checked + label:before {
    background: #1c3d61;
}