@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #333333;
    font-size: 13px;
    color: #333333;
    overflow-x: hidden;
}

*,
*:hover,
*:focus,
*:active {
    outline: none !important;
}

a {
    color: #e8641b;
    cursor: pointer;
}

a:hover, a:focus {
    color: #c64f0c;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

.no-padding {
    padding: 0 !important;
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
}

.navbar-default {
    background-color: transparent;
}

#side-menu .nav-header {
    padding: 33px 25px;
    background-color: #333;
}

#side-menu .nav-header a {
    color: #e8641b;
}

#side-menu .nav-header a:hover {
    color: #c64f0c;
}

#side-menu .nav-header .text-muted {
    color: #999;
}

#side-menu .logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 18px 0;
}

body.mini-navbar .navbar-static-side {
    width: 70px;
}

body.mini-navbar #side-menu .nav-header {
    padding: 0;
    background-color: #e8641b;
}

body.mini-navbar .navbar-default #side-menu.nav > li > a {
    font-size: 16px;
}

body.mini-navbar #side-menu .logo-element {
    display: block;
}

body.mini-navbar #side-menu .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default #side-menu.nav li a span {
    display: none;
}

body.mini-navbar.fixed-sidebar .profile-element, .block {
    display: block !important;
}

#side-menu.nav > li > a,
#side-menu .nav-second-level.nav > li > a {
    color: #999;
    padding: 14px 20px 14px 25px;
}

#side-menu.nav > li > a,
#side-menu .nav-second-level.nav > li > a,
.navbar-static-top .nav > li > a {
    font-weight: 600;
}

#side-menu.nav > li > a i,
.navbar-static-top .nav > li > a i {
    margin-right: 6px;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important
}

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
    background-color: transparent;
}

.navbar-default #side-menu.nav > li > a:hover,
.navbar-default #side-menu.nav > li > a:focus,
.navbar-default #side-menu .nav-second-level.nav > li > a:hover,
.navbar-default #side-menu .nav-second-level.nav > li > a:focus {
    background-color: #444;
    color: #c64f0c;
}

#side-menu.nav > li.active > a,
#side-menu .nav-second-level.nav > li.active > a {
    color: #e8641b;
}

#side-menu.nav > li.active,
#side-menu .nav-second-level.nav > li.active {
    border-left: 4px solid #e8641b;
    background-color: #444;
}

#side-menu.nav > li.active:hover,
#side-menu.nav > li.active:focus,
#side-menu .nav-second-level.nav > li.active:hover,
#side-menu .nav-second-level.nav > li.active:focus {
    border-color: #c64f0c;
}

#side-menu .nav-second-level li:last-child {
    margin-bottom: 10px;
}

#side-menu .nav.nav-second-level > li.active {
    border: none;
}

#side-menu a:hover, #side-menu a:focus {
    text-decoration: none;
}

.arrow {
    float: right;
}

.metismenu .arrow {
    float: right;
    line-height: 1.42857;
}

.metismenu .fa.arrow:before {
    content: "\f104";
}

.metismenu a > .fa.arrow {
    transition: transform .2s;
}

.metismenu .active > a > .fa.arrow {
    transform: rotate(-90deg);
}

.metismenu .collapse {
    display: none;
}

.metismenu .collapse.in {
    display: block;
}

.mini-navbar li.active .nav-second-level {
    left: 65px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {
    display: none;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}

.mini-navbar .metismenu .collapse {
    opacity: 0;
}

.mini-navbar .metismenu .collapse.in {
    opacity: 1;
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.mini-navbar .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: #444;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}

.mini-navbar #side-menu .nav-second-level.nav li a {
    padding: 10px 10px 10px 15px;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px;
}

.nav-second-level li, .nav-third-level li {
    border-bottom: none !important;
}

#side-menu .nav-second-level.nav > li > a {
    padding: 7px 10px 7px 47px;
}

.navbar-static-side, .nav-header,
li.active, #page-wrapper, .footer {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form-control, .form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse, .navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle {
    box-shadow: none;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
}

body.mini-navbar #page-wrapper {
    margin: 0 0 0 70px;
}

.clear {
    display: block;
    overflow: hidden;
}

.font-bold {
    font-weight: 600;
}

.m-t {
    margin-top: 15px;
}

.m-t-xs {
    margin-top: 5px;
}

.block {
    display: block;
}

.navbar {
    border: 0;
}

.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}

.navbar-fixed-top, .navbar-static-top {
    background: #f3f3f4;
}

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.navbar-form-custom {
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: inline-table;
}

.navbar-form-custom .form-group {
    margin-bottom: 0;
}

.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 1000;
}

.navbar-top-links li {
    display: inline-block;
}

.body-small .navbar-top-links li:last-child {
    margin-right: 0;
}

.navbar-top-links li:last-child {
    margin-right: 40px;
}

.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}

.nav.navbar-top-links a {
    font-size: 14px;
}

.nav.navbar-right > li > a {
    color: #999;
}

.nav.navbar-right > li > a:hover {
    color: #777;
}

.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
    background-color: #fff;
}

.page-heading .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}

.page-heading .breadcrumb a {
    text-decoration: none;
    color: #777;
}

.wrapper-content {
    padding: 25px 10px 45px;
}

@media (min-width: 768px) {
    .navbar-static-side {
        z-index: 1001;
        position: absolute;
        width: 220px;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        min-height: 1200px;
    }
}

@media (max-width: 1000px) {
    .welcome-message {
        display: none;
    }
}

@media (max-width: 768px) {
    .body-small .navbar-static-side {
        display: none;
        z-index: 1001;
        position: absolute;
        width: 70px;
    }

    .body-small.mini-navbar .navbar-static-side {
        display: block;
    }

    .navbar-header {
        display: inline;
        float: left;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 1000px;
    }

    .navbar-form-custom {
        display: none;
    }

    .navbar-top-links.navbar-right {
        float: right !important;
        margin-right: 10px;
    }

    .wrapper-content {
        padding: 15px 0 30px;
    }
}

/* ----------------------- ibox panel ------------------------ */
.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}

.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}

.ui-draggable .ibox-title {
    cursor: move;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.ibox-content {
    clear: both;
}


.ibox-content .pagination {
    margin-bottom: 10px;
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-title .label {
    float: left;
    margin-right: 4px;
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}

.ibox-tools a.btn-primary,
.ibox-tools a.btn-dark,
.ibox-tools a.btn-yellow,
.ibox-tools a.btn-success,
.ibox-tools a.btn-danger {
    color: #fff;
}

.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}

.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}

.fullscreen-ibox-mode .animated {
    animation: none;
}

body.fullscreen-ibox-mode {
    overflow-y: hidden;
}

.ibox.fullscreen {
    z-index: 2030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-bottom: 0;
}

.ibox.fullscreen .collapse-link {
    display: none;
}

.ibox.fullscreen .ibox-content {
    min-height: calc(100% - 48px);
}

.chat-view .ibox-content {
    padding: 0;
}

.article .ibox-content {
    padding: 40px;
}

.product-detail .ibox-content {
    padding: 30px 30px 50px 30px;
}

/* ----------------------- Pagination ------------------------ */
.pagination > li > a, .pagination > li > span {
    color: #777;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #777;
    border-color: #777;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #333;
}

/* ------------------------ Imperavi Widget ----------------------- */
.redactor-toolbar {
    box-shadow: none !important;
}

.redactor-editor {
    border: 0 !important;
    border-top: 1px solid #ccc !important;
}

.redactor-box {
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    overflow: hidden !important;
}

.redactor-box {
    margin-bottom: 0 !important;
}

.has-error .redactor-box {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.has-success .redactor-box {
    border-color: #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.has-error .redactor-editor {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.has-success .redactor-editor {
    border-color: #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

/* ---------------------- empty layout ------------------------- */
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

.loginscreen.middle-box {
    width: 300px;
}

.middle-box h1 {
    font-size: 170px;
}

/* -------------------------table-block---------------------- */
.table-block {
    overflow-x: auto;
    overflow-y: hidden;
}

.table-block > .table {
    margin-bottom: 0;
}

/* ----------------------- table-view ------------------------ */
table.detail-view tbody > tr:first-child > th,
table.detail-view tbody > tr:first-child > td {
    border-top: 0;
}

/* ---------------------- buttons ------------------------- */
.btn {
    transition: all .3s;
}

.btn-success,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success[disabled]:focus {
    color: #fff;
    background-color: #e8641b;
    border-color: #e8641b;
}

.btn-success:hover,
.btn-success[disabled]:hover {
    color: #fff;
    background-color: #c64f0c;
    border-color: #c64f0c;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary[disabled]:focus {
    color: #fff;
    background-color: #555;
    border-color: #555;
}

.btn-primary:hover,
.btn-primary[disabled]:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

/* ----------------------- pace ------------------------ */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #e8641b;
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

/* ----------------------- modal ------------------------ */
.modal .modal-body .pagination {
    margin-bottom: 5px;
}

/* ----------------------------------------------- */
.image-loader .preview img {
    max-height: 80px;
}

.uploader-preview {
    min-width: 100px;
    min-height: 100px;
}

/* ----------------------- Checkbox switcher ----------------------- */
.switcher {
    vertical-align: top;
    margin: 5px 3px 5px 0;
    width: 15px;
    height: 15px;
}

.switcher + label {
    cursor: pointer;
    margin: 5px 10px;
}

.switcher:not(checked) {
    position: absolute;
    opacity: 0;
}

.switcher:not(checked) + label {
    position: relative;
    padding-left: 60px;
}

.switcher:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    background: #cdd1da;
}

.switcher:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #FFF;
    transition: all .2s;
}

.switcher:checked + label:before {
    background: #e8641b;
}

.switcher:checked + label:after {
    left: 26px;
}